<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <%- include("../Styling/home.ejs") %>
    <title>About Us | Squeez.ly</title>
  </head>
  <body>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-decoration-none">
          <span class="fs-2 text-success">Squeez.ly</span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="mailto:nik.porwal9340@gmail.com" class="nav-link active" aria-current="page">Contact Me</a></li>
          <li class="nav-item"><a href="/login" class="nav-link">Logout</a></li>
        </ul>
      </header>
    </div>

    <div class="container">
      <div class="about-us-container form-container">
        <h1>About Us</h1>
        <p>
            Welcome to Squeez.ly! As a team of passionate developers and tech enthusiasts who wished to make sharing links easier and more efficient, we developed Squeez.ly.
            Our URL Shortener service lets you take any length, cranky link and convert it into a much shorter, more manageable URL for shareability on social media, via email, and so on.
        </p>

        <p>
            Whether you are looking to shorten a link for personal use, or you are a business wanting to create branded short links, Squeez.ly provides an easy, secure, and reliable platform to meet your needs.
            We offer a range of features to ensure that your short URLs are functional, trackable, and customizable.
        </p>

        <h3>Our Mission</h3>
        <p>
            The mission of the company is to make linking more efficient and to simplify sharing. We believe that little things, as the shortening of a URL, may have great consequences in communication online.
            We aim to provide a painless experience for the individual consumers and business users alike.
        </p>
        <h3>Contact Us</h3>
        <p>If you have any questions, comments, or feedback, feel free to reach out to us. We're always happy to hear from our users!</p>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
